.wrapper {
  margin: 0 40px 6px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dbdbdb;
}
.placeHolder {
  position: absolute;
}

.input {
  background: #fafafa;
  border: 0;
  flex: 1 0 auto;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
}

.label {
  height: 36px;
}
